@keyframes rainbow {
  0% { color: #0ec0ff; }
  10% { color: #0e1eff; }
  20% { color: #8f0eff; }
  30% { color: #ff0ef5; }
  40% { color: #ff0e6f; }
  50% { color: #ff1c0e; }
  60% { color: #ff960e; }
  70% { color: #ffe40e; }
  80% { color: #afef39; }
  90% { color: #0eff71; }
  100% { color: #0effde; }
}

@keyframes rainbowborder {
  0% { border-color: #0ec0ff; }
  10% { border-color: #0e1eff; }
  20% { border-color: #8f0eff; }
  30% { border-color: #ff0ef5; }
  40% { border-color: #ff0e6f; }
  50% { border-color: #ff1c0e; }
  60% { border-color: #ff960e; }
  70% { border-color: #ffe40e; }
  80% { border-color: #afef39; }
  90% { border-color: #0eff71; }
  100% { border-color: #0effde; }
}

@keyframes pulse {
  0% {
   opacity: 0;
   color: #89b5ff;
  }

  60% {
    color: #680dff;
  }

  80% {
    color: #ff11c3;
  }

  100% {
    opacity: 1;
    color: #ff0b45;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Source Sans Pro, sans-serif;
}

a {
  text-decoration: none;
}

a:hover, a:hover *, nav a:hover {
  color: pink;
  animation: rainbow 1.8s infinite;
}

h2 {
  font-size: 40px;
}

/* Banner */

#banner {
  background-image: url('/images/banner.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.banner-text p {
  font-size: 1.75em;
}

.banner-text h2 {
  display: inline-block;
  position: relative;
  font-size: 4em;
  line-height: 1.75em;
  padding: 0.25em .5em;
  margin: 0 0 .5em 0;
}

.banner-text h2::before, .banner-text h2::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  background: #fff;
  width: 100%;

}

.banner-text h2::before {
  top: 0;
  left: 0;
}

.banner-text h2::after {
  bottom: 0;
  right: 0;
}

.learn-more {
  position: absolute;
  outline: 0;
  bottom: 0;
  text-align: center;
  letter-spacing: 0.2em;
  left: 50%;
  height: 6.5em;
  width: 16em;
  margin-left: -8.5em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15em;
}

.learn-more::after {
  content: '';
  background-image: url("/images/down-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  bottom: 2em;
  left: 50%;
  margin-left: -0.75em;
  position: absolute;
}

/* Sections */

section.content {
  padding: 70px 0;
}

section.content h2 {
  padding: 0;
}

section.header {
}

.inner {
  width: 60em;
  margin: 0 auto;
}

header.major {
  text-align: center;
}

header.major h2::after {
  content: '';
  display: block;
  height: 1px;
  border-bottom: solid 2px #fff;
  border-bottom-color: rgb(255, 255, 255);
  padding-bottom: 1em;
  position: relative;
  border-color: rgba(0, 0, 0, 0.125);
}

header.major h2 {
  padding: 0 0 1em 0;
}

header.major p {
  font-size: 1.15em;
  padding-bottom: 3em;
}

.card {
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%), url('/images/doctor1-500.jpg');
  font-size: 3em;
  height: 350px;
  
  vertical-align: middle;
}

.bg-doctor1 {
  text-align: right;
}

.highlight {
  color: #21fcdd;
}

.style1 {
  background-color: #21fcdd;
}

ul.icons {
  list-style: none;
  text-align: center;
}

.icons li {
  display:inline-block;
  margin: 0 2em;
  font-size: 1.3em;
}

.icons li:nth-child(1) {
  margin-left: 0;
}

.img-circle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  transition: .5s ease-in-out;
  border: 2px solid #0effde;
  filter: grayscale(100%);
}

a:hover .img-circle {
  animation: rainbowborder 1.8s infinite;
  filter: none;
}
