@keyframes rainbow {
  0% {
    color: #0ec0ff;
  }
  10% {
    color: #0e1eff;
  }
  20% {
    color: #8f0eff;
  }
  30% {
    color: #ff0ef5;
  }
  40% {
    color: #ff0e6f;
  }
  50% {
    color: #ff1c0e;
  }
  60% {
    color: #ff960e;
  }
  70% {
    color: #ffe40e;
  }
  80% {
    color: #afef39;
  }
  90% {
    color: #0eff71;
  }
  100% {
    color: #0effde;
  }
}

@keyframes rainbowborder {
  0% {
    border-color: #0ec0ff;
  }
  10% {
    border-color: #0e1eff;
  }
  20% {
    border-color: #8f0eff;
  }
  30% {
    border-color: #ff0ef5;
  }
  40% {
    border-color: #ff0e6f;
  }
  50% {
    border-color: #ff1c0e;
  }
  60% {
    border-color: #ff960e;
  }
  70% {
    border-color: #ffe40e;
  }
  80% {
    border-color: #afef39;
  }
  90% {
    border-color: #0eff71;
  }
  100% {
    border-color: #0effde;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    color: #89b5ff;
  }

  60% {
    color: #680dff;
  }

  80% {
    color: #ff11c3;
  }

  100% {
    opacity: 1;
    color: #ff0b45;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Source Sans Pro, sans-serif;
}

html,
body,
div,
span,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 46px;
  letter-spacing: 2px;
  line-height: 38px;
}

h2 {
  font-size: 34px;
}

p {
  font-size: 17px;
}

a {
  text-decoration: none;
}


/* Navbar */

#navbar {
  background-color: #000;
  width: 100%;
  position: fixed;
  height: 50px;
  z-index: 999;
}

#navbar li {
  top: 0;
  float: left;
  padding: 0;
  display: block;
}

.navbar-list {
  padding: 0;
  margin: 0;
}

.navbar-items {
  padding: 15px 15px;
}

nav a {
  color: white;
  display: block;
}

#mobile-nav {
  background-color: black;
  height: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#navbar h3 {
  text-align: center;
  margin: 0;
  padding: 14px 15px 14px 0;
  font-weight: normal;
  display: none;
}

.active {
  background-color: pink;
  color: white;
  font-weight: bold;
}

#navbar-list #title {
  letter-spacing: .25em;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 15px;
  height: 20px;
}

/* Animated nav button */

#nav-button {
  margin: 8px 0 0 20px;
  width: 50px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-button span {
  position: absolute;
  display: block;
  margin: 7px 0;
  height: 6px;
  width: 75%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-button span:nth-child(1) {
  top: 6px;
}

#nav-button span:nth-child(2) {
  top: 16px;
}

#nav-button span:nth-child(3) {
  top: 26px;
}

#nav-button.open span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-button.open span:nth-child(2) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#nav-button.open span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Banner */

#banner {
  background-image: url('/images/banner.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
}

.banner_text p {
  font-size: 1.75em;
}

.banner_text h2 {
  display: inline-block;
  position: relative;
  font-size: 4em;
  line-height: 1.75em;
  padding: 0.25em 0.5em;
  margin: 0 0 0.5em 0;
}

.banner_text h2::before,
.banner_text h2::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  background: #fff;
  width: 100%;
}

.banner_text h2::before {
  top: 0;
  left: 0;
}

.banner_text h2::after {
  bottom: 0;
  right: 0;
}

.learn-more {
  position: absolute;
  outline: 0;
  bottom: 0;
  text-align: center;
  letter-spacing: 0.2em;
  left: 50%;
  height: 6.5em;
  width: 16em;
  margin-left: -8.5em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15em;
}

.learn-more::after {
  content: '';
  background-image: url('/images/down-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  bottom: 2em;
  left: 50%;
  margin-left: -0.75em;
  position: absolute;
}

/* Sections */

#one {
  padding: 30px 25% 65px 25%;
}

#two {
  padding: 30px 25% 65px 15%;
}

.section_title {
  text-align: center;
  margin-bottom: 74px;
}

#one {
  background-color: pink;
}

/* Blocks */

.block_items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.block a {
  color: black;
  text-decoration: none;
}

.block_image {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 8em;
  width: 50%;
  height: 375px;
  background-size: 100%;
}

.block_image:after {
  font-family: FontAwesome;
  transition: opacity 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
}

.block_image:hover:after {
  opacity: 1;
}

.doctor1 {
  background-image: url('/images/doctor1.jpg');
}

.doctor1:after {
  content: '\f46b';
}

.doctor2 {
  background-image: url('/images/doctor2.jpg');
}

.doctor2:after {
  content: '\f3fd';
}

.doctor3 {
  background-image: url('/images/doctor3.jpg');
}
  
.doctor3:after {
  content: '\f487';
}

.block_text {
  width: 40%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

.footer {
  text-align: center;
}

/* Tablets */

@media (max-width:1023px) {

  #mobile-nav #title {
    display: none;
  }

  #mobile-nav {
    overflow: hidden;
    height: 0;
  }

  #mobile-nav.mobile-nav-open {
    overflow: visible;
    height: auto;
  }

  #navbar {
    position: fixed;
    height: 66px;
  }

  #navbar li {
    float: none;
  }
  
  #navbar h3 {
    display: block;
    font-size: 28px;
    padding: 15px  }

  #nav-button {
    display: block;
  }
}

/* Smartphones */
@media (max-width:767px) {
}
