{{ define "content" }}
<div id="header">
  <h1><span class="rainbow-gradient">Get in touch</span></h1>
  <h2>We work tirelessy to get you the best service, whenever you need it.</h2>
</div>

<div class="content">
  <p>If you have any brogal issues, or want professional brogal consultation, please contact us using the proper email address for your brogal needs.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Reason for contact</th>
        <th>Email address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brogal emergency</td>
        <td><a href="mailto:emergency@brogus.org">emergency@brogus.org</a></td>
      </tr>
      <tr>
        <td>Help with all your brogal needs</td>
        <td><a href="mailto:help@brogus.org">help@brogus.org</a></td>
      </tr>
      <tr>
        <td>Implant scheduling</td>
        <td><a href="mailto:implant@brogus.org">implant@brogus.org</a></td>
      </tr>
      <tr>
        <td>Brogal information</td>
        <td><a href="mailto:info@brogus.org">info@brogus.org</a></td>
      </tr>
      <tr>
        <td>Customer support</td>
        <td><a href="mailto:support@brogus.org">support@brogus.org</a></td>
      </tr>
    </tbody>
  </table>
</div>
{{ end }}
