{{ define "content" }}
<div id="header">
  <h1><span class="rainbow-gradient">Brogal Implants</span></h1>
  <h2>Getting an implant may have risks, but the experience will be benificial in the long run.</h2>
</div>

<div class="content">
  <p>Brogal researchers have compiled a table to show the advantages and disadvantages of brogal implantation.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Result of implant</th>
        <th>Pro</th>
        <th>Con</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>You'll have a brogus</td>
        <td>◯</td>
        <td></td>
      </tr>
      <tr>
        <td>You won't not have a brogus</td>
        <td>◯</td>
        <td></td>
      </tr>
      <tr>
        <td>1% chance of getting a brogal infection shortly after the operation</td>
        <td></td>
        <td>◯</td>
      </tr>
      <tr>
        <td>You may be shook</td>
        <td></td>
        <td>◯</td>
      </tr>
      <tr>
        <td>Extra Brogi!</td>
        <td>◯</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p>Based on comprehensive studies, a brogal implant is a good idea!</p>
  <p>If you want a brogal implant, please schedule one today! Email us at <a href="mailto:implants@brogus.space">implants@brogus.space</a>.</p>
  <p>A brogal implantation surgery:</p>
  <img class="featurette-image" alt="Brogal implant" src="/images/implant.jpg">
</div>
{{ end }}
