{{ define "content" }}
<div id="header">
  <h1>welcome to <span class="rainbow-gradient">brogus.org</span>!</h1>
  <h2>the leading information source on brogi</h2>
</div>

<div class="content">
  <h1>
    Our brogal consultancy is the most advanced in the field. We have answers to all of your brogal questions.
  </h1>
  <article class="intros">
    <section>
      <a href="/about">
        <img hover="rotate" class="img-circle" src="/images/space1-500.jpg" alt="What's a brogus?" width="140" height="140" />
        <h2>What is a brogus?</h2>
      </a>
      <p>Despite being one of the most important organs in your body, many people are not aware of what a brogus is.</p>
    </section>
    <section>
      <a href="/implants">
        <img hover="rotate" class="img-circle" src="/images/implant-500.jpg" alt="What's a brogus?" width="140" height="140" />
        <h2>Brogal Implant</h2>
      </a>
      <p>Brogal Implantation is a big decision. We can help you make that decision.</p>
    </section>
    <section>
      <a href="/team">
        <img hover="rotate" class="img-circle" src="/images/horse-250.jpg" alt="What's a brogus?" width="140" height="140" />
        <h2>Our team</h2>
      </a>
      <p>We have a rich history of helping others with their brogi since 2016. Our consultancy has only grown since then.</p>
    </section>
  </article>
  <section class="warning">
    <img class="img-warning" src="/images/bang.png" alt="warning!" />
    <h2>Brogal Seepage</h2>
    <p>There is a epidemic spreading of brogal seepage in the US. If you have this painful condition commonly known as broggorhea, you should see a doctor immediately. Contact our medical experts at <a href="mailto:emergency@brogus.space">emergency@brogus.space</a> and help us fight broggorhea.</p>
  </section>
  <article id="featurettes">
    <section>
      <div class="featurette-image">
        <img alt="Doctor" src="/images/doctor1-500.jpg">
      </div>
      <div class="featurette-content">
        <h2 class="featurette-heading">We know brogi. <span class="text-muted">That's why we're the leading brogal consulants.</span></h2>
        <p>We know the most about how to fix many brogal ailments, including brogal seepage, brogal spillage, and brogal infarction. Need an implant? we've got you covered. Please <a href="contact.html">contact us</a> for all your brogal needs and ailments!</p>
      </div>
    </section>
    <section>
      <div class="featurette-image">
        <img alt="Doctor" src="/images/doctors1.jpg">
      </div>
      <div class="featurette-content">
        <h2 class="featurette-heading">Trained brogal staff. <span class="text-muted">We always have the best brogal staff for all of your brogal needs.</span></h2>
        <p>Our expert staff will help to guide you through the brogal healing process, brogal surgery, and your other brogal procedures.</p>
      </div>
    </section>
    <section>
      <div class="featurette-image">
        <img alt="Doctor" src="/images/doctor5-500.jpg">
      </div>
      <div class="featurette-content">
        <h2 class="featurette-heading">Friendliness. <span class="text-muted">We pride ourselves on being friendlier than any other brogal doctors.</span></h2>
        <p>Statistics show that we are by far the freindliest brogal constultants.</p>
      </div>
    </section>
    <section>
      <div class="featurette-image">
        <img alt="Doctor" src="/images/it1.jpg">
      </div>
      <div class="featurette-content">
        <h2 class="featurette-heading">We know the web. <span class="text-muted">With our revolutionary internet development, we can give you the best online service.</span></h2>
        <p>Our information superhighway "road work", combined with our quick-response email, gives us the ability to instantly support your brogal needs and issues. Our "brogal tracker" app, that's coming soon to Windows phone exclusively, will let you track your brogal routines like never before.</p>
      </div>
    </section>
</div>
{{ end }}
