---
Title: Wishlist
---
<h1>Wishlist, 2017 edition</h1>
<hr />
<p>100% Gluten Free</p>
<section class="tiles">
  <article class="tile style1">
    <span class="tile-image">
      <img src="/images/stock3.jpg" alt="LA" />
    </span>
    <div>
      <h2>Running watch</h2>
      <div class="details">
        <p><a href="https://www.amazon.com/Garmin-Forerunner-Large-Certified-Refurbished/dp/B015E9Z1ZK/">Garmin Forerunner 15</a></p>
      </div>
    </div>
  </article>
  <article class="tile style2">
    <span class="tile-image">
      <img src="/images/stock2.jpg" alt="Artisan" />
    </span>
    <div>
      <h2>Secret Hitler</h2>
      <div class="details">
        <p><a href="http://secrethitler.com/">Fascism for the low low price of $35</a></p>
      </div>
    </div>
  </article>
  <article class="tile style3">
    <span class="tile-image">
      <img src="/images/stock4.jpg" alt="wood" />
    </span>
    <div>
      <h2>Music stuff</h2>
      <div class="details">
        <p><a href="https://www.sweetwater.com/store/detail/UMC22">Behringer U-Phoria UMC22 Audio Interface</a> and <a href="https://www.sweetwater.com/store/detail/LaunchP2mini">Novation Launchpad Mini</a></p>
      </div>
    </div>
  </article>
  <article class="tile style4">
    <span class="tile-image">
      <img src="/images/stock1.jpg" alt="hand-crafted" />
    </span>
    <div>
      <h2>Yeasayer</h2>
      <div class="details">
        <p><a href="https://yeasayer.kungfustore.com/all-products/fragrant-world-lp-yea16.html">Fragrant World Double LP (Phin already has the CD).</a> Also <a href="https://www.amazon.com/Amen-Goodbye-Yeasayer/dp/B01BE7OO0E/">Amen and Goodybye CD. Or vinyl.</a></p>
      </div>
    </div>
  </article>
  <article class="tile style5">
    <span class="tile-image">
      <img src="/images/stock5.jpg" alt="Laither" />
    </span>
    <div>
      <h2>African American Star</h2>
      <div class="details">
        <p><a href="https://www.amazon.com/Blackstar-David-Bowie/dp/B017VORJK6/">Blackstar by David Bowie. CD or Vinyl.</a></p>
      </div>
    </div>
  </article>
  <article class="tile style6">
    <span class="tile-image">
      <img src="/images/stock6.jpg" alt="HOOORse" />
    </span>
    <div>
      <h2>Mousepad</h2>
      <div class="details">
        <p><a href="https://www.amazon.com/SteelSeries-QcK-Gaming-Mouse-Pad/dp/B000UEZ36W">SteelSeries QcK</a></p>
      </div>
    </div>
  </article>
  <article class="tile style3">
    <span class="tile-image">
      <img src="/images/stock7.jpg" alt="Beeeves" />
    </span>
    <div>
      <h2>Dope button-down shirts</h2>
      <div class="details">
        <p>Stuff like my blue one from Phin</p>
      </div>
    </div>
  </article>
  <article class="tile style1">
    <span class="tile-image">
      <img src="/images/stock8.jpg" alt="pasttaa" />
    </span>
    <div>
      <h2>Pasta maker</h2>
      <div class="details">
        <p><a href="https://www.amazon.com/gp/aw/d/B00006ADVC/">Cucina Pro pasta machine</a></p>
      </div>
    </div>
  </article>
</section>
