---
title: About Us
---
<section id="small-banner">
  <h2 class="small-banner-title"><span class="rainbow-gradient">About Us</span></h2>
</section>

<section class="section">
  <h1>Our Team</h1>
  <p>We have a very diverse and skilled team of brogal professionals to talk with you and help you through your brogal journey.</p>
  <article class="team-intros">
    <a class="team-member">
      <section>
          <img hover="rotate" class="img-circle" src="/images/wolf2-500.jpg" alt="Seth Jensen" width="140" height="140" />
          <h2>Seth Jensen</h2>
          <p>CEO, Head Brogal Consultant</p>
      </section>
    </a>
    <a class="team-member">
      <section>
        <img hover="rotate" class="img-circle" src="/images/chicken0-500.jpg" alt="Jake Jenkins" width="140" height="140" />
        <h2>Jake Jenkins</h2>
        <label>Chief Discharge Officer</label>
      </section>
    </a>
    <a class="team-member">
      <section>
        <img hover="rotate" class="img-circle" src="/images/goat0-500.jpg" alt="Nathan Hill" width="140" height="140" />
        <h2>Nathan Hill</h2>
        <p>Chief Seepage Officer</p>
      </section>
    </a>
    <a class="team-member">
      <section>
        <img hover="rotate" class="img-circle" src="/images/wolf3-500.jpg" alt="Josh Lewis" width="140" height="140" />
        <h2>Josh Lewis</h2>
        <p>Head of Public Relations</p>
      </section>
    </a>
    <a class="team-member">
    <section>
        <img hover="rotate" class="img-circle" src="/images/wolf0-500.jpg" alt="Brennen Bates" width="140" height="140" />
        <h2>Brennen Bates</h2>
        <label>Head of Marketing</label>
      </section>
    </a>
    <a class="team-member">
      <section>
        <img hover="rotate" class="img-circle" src="/images/duck0-500.jpg" alt="Jack Jordan" width="140" height="140" />
        <h2>Jack Jordan</h2>
        <p>Junior Consultant</p>
      </section>
    </a>
  </article>
  <p>Our team is ready to answer your brogal questions, <a href="/contact">just an email away</a>. You can also try our toll-free number, 79. If it doesn't work, it just means we're on the phone with a client. We're very busy consultants, and we serve as many people as possible.</p>
</section>
