---
title: Brogal Implants
---
<section id="small-banner">
  <h2 class="small-banner-title">Brogal Implants</h2>
</section>
<section class="section">
  <h2>We’ve got you covered.</h2>
  <p>Getting an implant may have risks, but the experience will be benificial in the long run.</p>
  <p>Brogal researchers have compiled a table to show the advantages and disadvantages of brogal implantation.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Result of implant</th>
        <th>Pro</th>
        <th>Con</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>You'll have a brogus</td>
        <td>X</td>
        <td></td>
      </tr>
      <tr>
        <td>You won't not have a brogus</td>
        <td>X</td>
        <td></td>
      </tr>
      <tr>
        <td>1% chance of getting a brogal infection shortly after the operation</td>
        <td></td>
        <td>X</td>
      </tr>
      <tr>
        <td>You may be shook</td>
        <td></td>
        <td>X</td>
      </tr>
      <tr>
        <td>Extra Brogi!</td>
        <td>X</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p>Based on comprehensive studies, a brogal implant is a good idea! If you are interested in a brogal implant, please schedule one today! Email us at <a href="mailto:implants@brogus.org">implants@brogus.org</a>.</p>
  <p>A brogal implantation surgery:</p>
  <img class="featurette-image" alt="Brogal implant" src="images/implant.jpg">
</section>
