---
title: Welcome to Brogus.org
---

<section id="banner">
  <div class="banner-text">
    <h2>Welcome to Brogus.org</h2>
    <p>The leading source on all things brogal</p>
  </div>
  <a class="learn-more" href="#one">Learn More</a>
</section>
<section id="one">
  <p>hello world</p>
</section>
