---
title: Welcome to Brogus.org
---

<section id="banner">
  <div class="banner-text">
    <h2>Welcome to Brogus.org</h2>
    <p>The leading source on all things brogal</p>
  </div>
  <a class="learn-more" href="#one">Learn More</a>
</section>
<section class="content style1" id="one">
  <div class="inner">
    <header class="major">
      <h2>Our brogal consultancy is the most advanced in the field. We have answers to all of your brogal questions.</h2>
      <p>Our high-level consultants will treat you right and make sure all your brogal needs are fulfilled.<br />
      The competitive advantages we bring to the brogal and medical fields are top-tier.</p>
    </header>
    <ul class="icons">
      <li>
        <a href="/about">
          <img class="img-circle" src="/images/mountains-250.jpg" />
          <h3>What is a brogus?</h3>
        </a>
      </li>
      <li>
        <a href="/implants">
          <img class="img-circle" src="/images/implant-250.jpg" />
          <h3>Brogal Implants</h3>
        </a>
      </li>
      <li>
        <a href="/team">
          <img class="img-circle" src="/images/mountains-250.jpg" />
          <h3>Our Team</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="content style2" id="two">
  <div class="inner">
    <header>
      <h2>horse buckets and stuff</h2>
    </header>
    <p>brogus stuff ya know? like seriously</p>
  </div>
</section>
